@charset "utf-8";
/* reset */
div, span, h1, h2, h3, h4, h5, h6, p, img, nav, section
{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline; 
}

body {
  font-size:100%; 
}

/* base */
.test-id, .demo-ctest {    
  font-size: 80%;
  font-style: normal;    
  color:gray;
  margin-bottom: 1em;    
  padding: 0.3em;
}

.ctest, .otest {
    margin-bottom: 1em;
    padding-left: 1em;
}

.ctest {
    border: 1px solid gray;
    margin-bottom: 1em;
    padding-left: 1em;
}

.otest {
    border: 1px dotted gray;
    margin-bottom: 1em;
    padding-left: 1em;
}

.nature {
	display: block;
	padding-right: 1em;
	padding-left: 0.5em;
	font-size: 50%;
}

.ctest .nature {
	color: rgb(255,0,0);
}

.otest .nature {
	color: rgb(0,0,255);
}

dl.info dt {
  font-weight: bold;
  margin-left: 1em;
}

/* .desc_v {
  border: 1px solid gray;
  margin: 0.5em;
  padding: 0.5em;
} */

.desc {
  border: 1px solid gray;
  margin: 0.5em;
  padding: 0.5em;
}

.eval {
  border: 1px dotted #666666;
  margin: 0.5em;
  padding: 0.5em;
  font-weight: bold;
}

/* contents style */
body {
  -epub-writing-mode:vertical-rl;
  line-height: 1.75;
  font-family: "@Hiragino Mincho ProN","@ヒラギノ明朝 Pro W3","@IPAexMincho","@IPAex明朝","@MS Mincho","@ＭＳ 明朝","ヒラギノ明朝 Pro W3","Hiragino Mincho ProN","IPAexMincho","IPAex明朝",serif;      
}

h1,h2,h3,h4,h5,h6 {
  font-family:"@HiraKakuProN-W3","@ヒラギノ角ゴ Pro W3","@MS Gothic","@ＭＳ ゴシック","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3",sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 140%;
}
h2 {
  font-size: 120%;
}
h3 {
  font-size: 110%;
}

a {
  text-decoration:none;
}

body.coverpage {
  margin:0;
  padding:0;
  font-size:0;
}
body.tocpage {
  text-align:left;
}
body.normalpage {
  text-align:justify;
}
body.char_test {
  text-align:left;
}

h2.toc {
  padding-top:3em;
  letter-spacing: 1em;
  padding-right:1em;
  padding-left:1em;
}
h2.chapter {
  padding-top: 1em;
  padding-right:1em;
  padding-left:1em;
}
h2.chapter_indent {
  font-family: "@Hiragino Mincho ProN","@ヒラギノ明朝 Pro W3","@IPAexMincho","@IPAex明朝","@MS Mincho","@ＭＳ 明朝","ヒラギノ明朝 Pro W3","Hiragino Mincho ProN","IPAexMincho","IPAex明朝",serif;    
  padding-top: 6em;
  text-indent: -4em;
  padding-right:1em;
  padding-left:1em;
}
h2.topborder_chapter {
  font-size:120%;
  padding-top:1em;
  margin-right:1em;
  margin-left:1em;
  border-top-style:solid;
  border-top-color:#0000ff;
  border-top-width:6px;
}
h2.topborder_chapter_normal_weight {
  font-size:120%;
  padding-top:1em;
  margin-right:1em;
  margin-left:1em;
  border-top-style:solid;
  border-top-color:#0000ff;
  border-top-width:6px;
  font-weight: normal;
}
h3.section {
  padding-top: 2em;
  padding-right:1em;
  padding-left:1em;
}

.level1{
  padding-top:0;
  font-size: 110%;
}
.level2 {
  padding-top:1em;
}
.level3 {
  padding-top:2em;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}
.normal_indent {
  text-indent:1em;
}
.start_2em {
  padding-top:2em;
}
.start_4em {
  padding-top:4em;
}
.indent_history {
  padding-top:6em;
  text-indent:-6em;
}
.multi_column_test {
  -epub-column-count: 2;
  -epub-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
}

.rentxt {
  border: 1px solid gray;
  margin: 0.5em;
  padding: 0.5em;
}

.expimg {
  border: 1px solid gray;
  background-color: #dddddd;
/*  margin: 0.5em;*/
  padding: 0.5em;
}

.expected-img {
  border: 3px dotted #666666;
  background-color: #dddddd;
  margin-left:1em;
  padding: 0.5em;
}
img.pagenation {
  border: 1px dotted gray;
  display:block;
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}


.black {
  color:#000000;
}
.gray {
  color:#808080;
}
.green {
  color:#008000;
}
.blue {
  color:#0000ff;
}
.red {
  color:#ff0000;
}
.purple {
  color:#800080;
}

.topchar {
  -epub-text-combine:horizontal;
  color:#ff0000;
  font-weight: bold;
}
.inserted_num {
  color:#800080;
  font-weight: bold;
  -epub-text-orientation:upright;
}

.tcy {
  -epub-text-combine:horizontal;
}

.upright {
  -epub-text-orientation:upright;
}
.sideways {
  -epub-text-orientation:rotate-right;
  -webkit-text-orientation:sideways;
}

.gothic {
  font-family: "@HiraKakuProN-W3","@ヒラギノ角ゴ Pro W3","@MS Gothic","@ＭＳ ゴシック","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","sans-serif";
}
.small {
  font-size: 90%;
}
.go_small_red {
  font-family: "@HiraKakuProN-W3","@ヒラギノ角ゴ Pro W3","@MS Gothic","@ＭＳ ゴシック","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","sans-serif";
  font-size:90%;
  color:#ff0000;
}
.serif_italic {
  font-family: serif;
  font-style:italic;
}
.serif_bold {
  font-family: serif;
  font-weight: bold;
}
.serif_italic_bold {
  font-family: serif;
  font-style:italic;
  font-weight: bold;
}
.sansserif_italic {
  font-family: sans-serif;
  font-style:italic;
}
.sansserif_bold {
  font-family: sans-serif;
  font-weight: bold;
}
.sansserif_italic_bold {
  font-family: sans-serif;
  font-style:italic;
  font-weight: bold;
}
.sideline_v {
  text-decoration: overline;
  text-underline-position: under left;
  -webkit-text-underline-position:under left;
}
.filled_sesame {
  -epub-text-emphasis-style: filled sesame;
}
.open_sesame {
  -epub-text-emphasis-style: open sesame;
}
.filled_circle {
  -epub-text-emphasis-style: filled circle;
}
.open_circle {
  -epub-text-emphasis-style: open circle;
}
.filled_double_circle {
  -epub-text-emphasis-style: filled double-circle;
}
.open_double_circle {
  -epub-text-emphasis-style: open double-circle;
}
.filled_dot {
  -epub-text-emphasis-style: filled dot;
}
.open_dot {
  -epub-text-emphasis-style: open dot;
}
.filled_triangle {
  -epub-text-emphasis-style: filled triangle;
}
.open_triangle {
  -epub-text-emphasis-style: open triangle;
}

.sup {
  font-size:50%;
  vertical-align:super;
  letter-spacing: -2px
}
.sub {
  font-size:50%;
  vertical-align:sub;
  letter-spacing: -2px
}

.gaiji {
  display: inline;
  width: 1em;
  height: 1em;
}
.w1 {
  display: inline;
  width: 1em;
  height: auto;
}
img.block {
  display:block;
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}
img.left {
  float:left;
  padding-right:12px;
  padding-left:12px;
  padding-bottom:18px;
}
img.right {
  float:right;
  padding-right:12px;
  padding-left:12px;
  padding-top:18px;
}
.clear_normalindent {
  clear:both;
  text-indent: 1em;
}
.caption {
  -epub-writing-mode:horizontal-tb;
  text-align:center;
  font-family: sans-serif;
  font-size:80%;
}
