@charset "utf-8";

body {
    font-family: arial, helvetica, sans-serif;
    color: black;
    background: white;   
    padding: 15px;
    font-size: 18px;     
}

.test-id, .demo-ctest {    
    font-size: 80%;
    font-style: normal;    
    color:gray;
    margin-right: 1em;    
    padding: 0.3em;
}

.ctest, .otest {
    margin-bottom: 1em;
    padding-left: 1em;
}

.ctest {
    border: 1px solid gray;
    margin-bottom: 1em;
    padding-left: 1em;
}

.otest {
    border: 1px dotted gray;
    margin-bottom: 1em;
    padding-left: 1em;
}

.nature {
	display: block;
	padding-right: 1em;
	padding-left: 0.5em;
	font-size: 50%;
}

.ctest .nature {
	color: rgb(255,0,0);
}

.otest .nature {
	color: rgb(0,0,255);
}

dl.info dt {
    font-weight: bold;
    margin-bottom: 1em;
}

.-epub-media-overlay-active {
    background-color: pink;
    color: black;
}

